@import "./mixins";

.speakers_container {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 64px;

    .speakers_header {
        font-family: Gotham;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        color: rgba(0, 97, 107, 1);
        margin-bottom: 78px
    }

    .speakers {
        @include flex-center;
        flex-wrap: wrap;
        width: 95%;
        column-gap: 37.45px;
        row-gap: 39.99px;

        .speaker {
            @include flex-center;
            flex-direction: column;

            .image {
                width: 126px;
                height: 126px;
                border-radius: 50%;
                border: 6px solid rgba(48, 70, 115, 0.2);
                cursor: pointer;

                .img {
                    border-radius: 50%;
                }
            }

            .name {
                margin-top: 16px;
                font-family: Inter, sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 21.78px;
                text-align: center;
                color: rgba(48, 70, 115, 1);

            }

            .position {
                width: 280px;
                height: 50px;
                font-family: Gotham Thin;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.4px;
                text-align: center;
                color: rgba(48, 70, 115, 0.4);
                margin-top: 12px;
            }
        }
    }

}

.popover {

    .popover_content {
        margin: 20px 0px;
        color: #231F20;
        font-family: Gotham Book;
        font-size: 14.841px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
}

@media only screen and (max-width: 1190px) {
    .speakers_container {
        margin-top: 83%;
    }

    .speakers_header {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1150px) {
    .speakers_container {
        margin-top: 95%;
    }
}

@media only screen and (max-width: 1085px) {
    .speakers_container {
        margin-top: 105%;
    }
}

@media only screen and (max-width: 1035px) {
    .speakers_container {
        margin-top: 115%;
    }
}

@media only screen and (max-width: 1005px) {
    .speakers_container {
        margin-top: 125%;
    }
}

@media only screen and (max-width: 975px) {
    .speakers_container {
        margin-top: 135%;
    }
}

@media only screen and (max-width: 950px) {
    .speakers_container {
        margin-top: 155%;
    }
}

@media only screen and (max-width: 900px) {
    .speakers_container {
        margin-top: 120%;
    }
}

@media only screen and (max-width: 853px) {
    .speakers_container {
        margin-top: 130%;
    }
}

@media only screen and (max-width: 820px) {
    .speakers_container {
        margin-top: 140%;
    }
}