* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gotham;
  src: url("./fonts/Gotham-font-family/Gotham/Gotham-Medium.otf");
  weight: 500;
}

@font-face {
  font-family: Gotham Thin;
  src: url("./fonts/Gotham-font-family/Gotham/Gotham-Thin.otf");
  weight: 500;
}

@font-face {
  font-family: Gotham Bold;
  src: url("./fonts/Gotham-font-family/Gotham/Gotham-Black.otf");
  weight: 900;
}

@font-face {
  font-family: Gotham Medium;
  src: url("./fonts/Gotham-font-family/Gotham/Gotham-Medium.otf");
  weight: 500;
}

@font-face {
  font-family: Gotham Book;
  src: url("./fonts/Gotham-font-family/Gotham/Gotham-Book.otf");
  weight: 500;
}

.ant-modal .ant-modal-content {
  height: 803px !important;
  border-radius: 32px !important;
  /* margin-top: -90px !important; */
}

.ant-input-outlined {
  width: 478px !important;
  height: 56px !important;
  border-radius: 12px !important;
  font-family: Gotham Thin !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19.2px !important;
  text-align: left !important;
  color: rgba(48, 70, 115, 1) !important;
  padding-left: 24.31px !important;
}

.ant-form-item-label>label {
  font-family: Gotham Thin !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19.2px !important;
  text-align: left !important;
  color: rgba(102, 102, 102, 1) !important;
}

.ant-checkbox+span {
  width: 478px !important;
  padding-inline-end: 0px !important;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left !important;
  color: rgba(17, 17, 17, 1) !important;
}

.ant-col-offset-6 {
  margin-inline-start: 0px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(48, 70, 115, 1) !important;
  border-color: rgba(48, 70, 115, 1) !important;
}

.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: rgba(48, 70, 115, 1) !important;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-ni1kz0).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: rgba(48, 70, 115, 1) !important;
}

.ant-input-outlined:hover {
  border-color: rgba(48, 70, 115, 1) !important;
}

.ant-input-outlined:focus-within {
  border-color: rgba(48, 70, 115, 1) !important;
}

.ant-input-outlined:focus {
  border-color: rgba(48, 70, 115, 1) !important;
}

.ant-input-outlined:focus-visible {
  border-color: rgba(48, 70, 115, 1) !important;
}

.ant-popover .ant-popover-inner-content {
  width: 400px !important;
  height: 420px !important;
  overflow: scroll !important;
  padding: 0px 15px !important;
}

.ant-popover {
  position: relative !important;
  z-index: 1 !important;
}

.anticon[tabindex] {
  display: none !important;
}

.ant-collapse {
  width: 361px !important;
  margin-bottom: 16px !important;
}

.ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 6px !important;
  background: #0F356D !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-header-text {
  color: #fff !important;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 12px;
  border: none !important;
  border-radius: 0px 0px 10px 10px !important;
  background: #F9F9F9 !important;
  color: #000 !important;
  font-family: Gotham Book !important;
  font-size: 7.862px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.086px !important
}

.ant-collapse .ant-collapse-item:last-child>.ant-collapse-content {
  border-top: none !important;

}

@media only screen and (max-width: 900px) {
  .ant-collapse {
    width: 600px !important;
    margin-bottom: 16px !important;
  }
}

@media only screen and (max-width: 670px) {
  .ant-collapse {
    width: 361px !important;
    margin-bottom: 16px !important;
  }

  .ant-popover {
    display: none;
  }
}